// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
$color-fondo-footer:#BF3B27;
$color-fondo-Navbar2:#FFFFFF;
$color-de-imagenes-cuerpo:#3C322D;
body{
    overflow: hidden;
    height: 100vh;
}
.card
{
    margin-top: 100px;
    margin-bottom: 10px;
}
 
.bg-dark
{
    background-color: $color-fondo-footer !important;
}

.navbar2
{
    background-color: $color-fondo-Navbar2 ;
    width: 100%;
    height: auto;
    text-align: center;
}

.logo
{
    width: 82px;
    height: 72px;
    margin-left: 16%;
}

.leng{
    width: 144px;
    height: 32px;
}


.btn-outline-success
{
    color: #FFFFFF;
    border-color: #BF3B27;
    background-color: #BF3B27;
    border-radius:  0px;
}

.form-control
{
    border-radius:  0px;
}

.btn-dark
{
    background-color: transparent;
    color:#BF3B27;
    border-color: #BF3B27;
}

  .btn-dark:hover {
    background-color: transparent;
    color:#BF3B27;
    border-color: #BF3B27;
  }
  .btn-check:focus + .btn-dark, .btn-dark:focus {
    background-color: transparent;
    color:#BF3B27;
    border-color: #BF3B27;
    box-shadow: 0 0 0 0.25rem rgba(191,59,39, 0.5);
  }
  .btn-check:checked + .btn-dark, .btn-check:active + .btn-dark, .btn-dark:active, .btn-dark.active, .show > .btn-dark.dropdown-toggle {
    background-color: transparent;
    color:#BF3B27;
    border-color: #BF3B27;
  }
  .btn-check:checked + .btn-dark:focus, .btn-check:active + .btn-dark:focus, .btn-dark:active:focus, .btn-dark.active:focus, .show > .btn-dark.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(191,59,39, 0.5);
  }
  .btn-dark:disabled, .btn-dark.disabled {
    background-color: transparent;
    color:#BF3B27;
    border-color: #BF3B27;
  }

  .texto
  {
      color: $color-de-imagenes-cuerpo;
      text-transform: uppercase;
  }