// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
$color-fondo-footer:#BF3B27;
$color-fondo-Navbar2:#FFFFFF;

.card
{
    margin-top: 100px;
    margin-bottom: 10px;
}
 
.bg-dark
{
    background-color: $color-fondo-footer !important;
}

.navbar2
{
    background-color: $color-fondo-Navbar2 ;
    width: 100%;
    height: auto;
    text-align: center;
}

.logo
{
    width: 82px;
    height: 72px;
    margin-left: 16%;
}

.leng{
    width: 144px;
    height: 32px;
}


.btn-outline-success
{
    color: #FFFFFF;
    border-color: #BF3B27;
    background-color: #BF3B27;
    border-radius:  0px;
}

.form-control
{
    border-radius:  0px;
}
